body {
  background-color: #F2FFE9;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 4%;
  border-color: grey;
}

h1 {
  color: #6D8B74;
}

h3 {
  color: #66BFBF;
}
